$breakpoint-small: 375px
$breakpoint-large: 1440px

@media only screen and (width: $breakpoint-small)
    header
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 100vw
        outline: 1px solid red


