@font-face
    src: url(../Fonts/Inter-Regular.ttf)
    font-family: 'Inter'
    font-style: Regular
    font-weight: 400

@font-face
    src: url(../Fonts/Inter-Bold.ttf)
    font-family: 'Inter'
    font-style: Bold
    font-weight: 700

@font-face 
    src: url(../Fonts/Inter-ExtraBold.ttf)
    font-family: 'Inter'
    font-style: Extra-Bold
    font-weight: 800

$soft-orange: hsl(35, 77%, 62%)
$soft-red: hsl(5, 85%, 63%)
$off-white: hsl(36, 100%, 99%)
$grayish-blue: hsl(233, 8%, 79%)
$dark-grayish-blue: hsl(236, 13%, 42%)
$very-dark-blue: hsl(240, 100%, 5%)

$breakpoint-small: 375px
$breakpoint-large: 1440px

body 
    font-family: 'Inter', sans-serif
    margin: 2em 1em
    overflow-x: hidden

    #off_canvas_menu
        background-color: $off-white
        display: flex
        flex-direction: column
        height: 100vh
        position: absolute
        right: 0
        top: 0
        width: 68vw
        z-index: 10

        div
            align-self: end

        #close_menu_button
            background-color: transparent
            border: none
            cursor: pointer
            margin: 2em

        .off_canvas_links
            display: flex
            flex-direction: column
            gap: 1.5em
            list-style: none
            margin: 2em

            a 
                color: $very-dark-blue
                text-decoration: none

            a:hover 
                color: $soft-red
    
    .menu_closed
        transform: translateX(100%)
        transition: ease-in 350ms
    
    .menu_expanded
        transform: translateX(0)
        transition: ease-out 350ms

    #overlay
        background-color: black
        height: 100vh
        opacity: 0
        position: fixed
        right: 0
        top: 0
        width: 100vw
        z-index: -1



#top_links
    align-content: center
    display: flex
    flex-direction: row
    z-index: 9
    
    button
        background-color: transparent
        border: none
        cursor: pointer
        
        
    .navigation_links
        display: none
        list-style: none
        

        li 
            display: inline-block
        
            a 
                color: $dark-grayish-blue
                text-decoration: none

            a:hover 
                color: $soft-red


.main_title
    font-size: 2.5em
    font-weight: 800
    padding-top: .5em

p 
    color: $dark-grayish-blue
    font-size: 15px
    line-height: 1.5em
    margin-bottom: 1em
    margin-top: 1em

#main_image
    margin-top: 2em
    width: 100%

    img 
        width: 100%

#read_more
    background-color: $soft-red
    border: none
    color: $off-white
    cursor: pointer
    font-weight: Bold
    letter-spacing: .4em
    margin-top: .5em
    padding: 1em 2.5em
    text-transform: uppercase

#read_more:hover
    background-color: $very-dark-blue

#news_feed
    background-color: $very-dark-blue
    color: $off-white
    margin-top: 2em
    padding: 1em

    a 
        text-decoration: none
        color: white
    
    a:hover
        color: $soft-orange

    h2
        font-size: 2em
        color: $soft-orange
        margin-bottom: 1em
    
    hr 
        color: $off-white
        margin: 2em 0

#top_articles
    margin-top: 4em
    display: flex
    flex-direction: column
    gap: 1em

    a 
        text-decoration: none
        color: black
    
    a:hover
        color: $soft-red

    

    img 
        width: 100%
        object-fit: fill

    h1 
        color: $grayish-blue
        font-weight: 700
        padding-bottom: .4em
    
    h2 
        font-size: 1em
        font-weight: 800
    

@media only screen and (min-width: 1080px)
    body
        margin: 5em 10em

        .off_canvas_menu
            display: none

        header
            margin-bottom: 3.5em
            
            #top_links

                #burger_menu
                    display: none

                .navigation_links
                    display: flex
                    flex-direction: row
                    align-content: center
                    gap: 2em

            #news_feed, #top_articles, #main_image
            margin-top: 2em

        .main_title
            font-size: 3.5em
            font-weight: 800
            padding: 0

        #summary
            margin: 0

        #news_feed 
            h2
                font-size: 2.5em
        
        


        

    