@font-face {
  src: url(../Fonts/Inter-Regular.ttf);
  font-family: "Inter";
  font-style: Regular;
  font-weight: 400;
}
@font-face {
  src: url(../Fonts/Inter-Bold.ttf);
  font-family: "Inter";
  font-style: Bold;
  font-weight: 700;
}
@font-face {
  src: url(../Fonts/Inter-ExtraBold.ttf);
  font-family: "Inter";
  font-style: Extra-Bold;
  font-weight: 800;
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 2em 1em;
  overflow-x: hidden;
}
body #off_canvas_menu {
  background-color: hsl(36deg, 100%, 99%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 68vw;
  z-index: 10;
}
body #off_canvas_menu div {
  align-self: end;
}
body #off_canvas_menu #close_menu_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2em;
}
body #off_canvas_menu .off_canvas_links {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  list-style: none;
  margin: 2em;
}
body #off_canvas_menu .off_canvas_links a {
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
}
body #off_canvas_menu .off_canvas_links a:hover {
  color: hsl(5deg, 85%, 63%);
}
body .menu_closed {
  transform: translateX(100%);
  transition: ease-in 350ms;
}
body .menu_expanded {
  transform: translateX(0);
  transition: ease-out 350ms;
}
body #overlay {
  background-color: black;
  height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#top_links {
  align-content: center;
  display: flex;
  flex-direction: row;
  z-index: 9;
}
#top_links button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#top_links .navigation_links {
  display: none;
  list-style: none;
}
#top_links .navigation_links li {
  display: inline-block;
}
#top_links .navigation_links li a {
  color: hsl(236deg, 13%, 42%);
  text-decoration: none;
}
#top_links .navigation_links li a:hover {
  color: hsl(5deg, 85%, 63%);
}

.main_title {
  font-size: 2.5em;
  font-weight: 800;
  padding-top: 0.5em;
}

p {
  color: hsl(236deg, 13%, 42%);
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#main_image {
  margin-top: 2em;
  width: 100%;
}
#main_image img {
  width: 100%;
}

#read_more {
  background-color: hsl(5deg, 85%, 63%);
  border: none;
  color: hsl(36deg, 100%, 99%);
  cursor: pointer;
  font-weight: Bold;
  letter-spacing: 0.4em;
  margin-top: 0.5em;
  padding: 1em 2.5em;
  text-transform: uppercase;
}

#read_more:hover {
  background-color: hsl(240deg, 100%, 5%);
}

#news_feed {
  background-color: hsl(240deg, 100%, 5%);
  margin-top: 2em;
  padding: 1em;
}
#news_feed a {
  text-decoration: none;
  color: white;
}
#news_feed a:hover {
  color: hsl(35deg, 77%, 62%);
}
#news_feed h2 {
  font-size: 2em;
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 1em;
}
#news_feed p {
  color: hsl(36deg, 100%, 99%);
}
#news_feed hr {
  color: hsl(36deg, 100%, 99%);
  margin: 2em 0;
}

#top_articles {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#top_articles a {
  text-decoration: none;
  color: black;
}
#top_articles a:hover {
  color: hsl(5deg, 85%, 63%);
}
#top_articles img {
  width: 100%;
  object-fit: fill;
}
#top_articles h1 {
  color: hsl(233deg, 8%, 79%);
  font-weight: 700;
  padding-bottom: 0.4em;
}
#top_articles h2 {
  font-size: 1em;
  font-weight: 800;
}

@media only screen and (min-width: 1080px) {
  body {
    margin-top: 3em;
    margin-inline: 4em;
  }
  body .off_canvas_menu {
    display: none;
  }
  body header {
    margin-bottom: 3.5em;
    margin-top: 2em;
  }
  body header #top_links #burger_menu {
    display: none;
  }
  body header #top_links .navigation_links {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 2em;
  }
  body .main_title {
    font-size: 3.5em;
    font-weight: 800;
    padding: 0;
  }
  body #summary {
    margin: 0;
  }
  body #news_feed h2 {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
